html,
body,
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-container {
    max-width: 1400px;
    margin: auto;
    width: 100%;
    background-color: #F5F5F5!important;
    z-index: 1;
    position: relative;
}

.main-container-mainPage{
    max-width: 1400px;
    margin: auto;
    width: 100%;
    background-color: #F5F5F5!important;
    z-index: 1;
    position: relative;
    margin-top: 17em;
}

.layout {
    background-color: #F5F5F5;
}



/**************************NAVIGATION-BAR**************************************** */

.navbar-container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 2;
    background: rgba(255, 255, 255, 0.25);
    
    backdrop-filter: blur(4px);
    -webkit-backface-visibility: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
   
}

.ulNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.logo-nav {
    margin-right: 3rem;
    cursor: pointer;
}

.Shop-btn {
    color: #393E46;
    font-weight: 600;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px 15px;
}

.Shop-btn:hover {
    background-color: white;
    border-radius: 25px;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.buttonText {
    position: absolute;
    display: flex;
    top: 12rem;
    margin-left: 10rem;
    padding: 1rem 2rem;
    flex-direction: column;
}

.buttonTextSlide2 {
    position: absolute;
    display: flex;
    top: 12rem;
    margin-left: 10rem;
    padding: 1rem 2rem;
    flex-direction: column;
}

.buttonTextSlide2 h2 {
    color: #393E46;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 3rem;
}

.buttonTextSlide2 p {
    color: #393E46;
    padding: 0.5rem;
    font-size: 22px;
}

.buttonTextSlide2-banner {
    color: #393E46;
    background: transparent;
    display: flex;
    padding: 0.5rem 2rem;
    transition: all .35s ease-in-out;
    font-size: 22px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 4rem;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    /* box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); */
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.25);
    backdrop-filter: blur(10px); 
    align-items: center;  
}

.buttonTextSlide2-banner:hover {
    transform: translateY(-10px)
}

.buttonTextSlide2-banner:active {
    transform: translateY(10px);
}

.buttonText h2 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 3rem;
    color: #393E46;
    /* color: white; */
}

.buttonText p {
    color: white;
    padding: 0.5rem;
    font-size: 22px;
}

.button-banner {
    color: #ffffff;
    background: transparent;
    display: flex;
    padding: 0.5rem 2rem;
    transition: all .35s ease-in-out;
    font-size: 22px;
    border-radius: 32px;
    border-color:  white;
    cursor: pointer;
    margin-top: 4rem;
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);   
    align-items: center;
}

.button-banner i {
    margin-left: 0.5em;
    margin-top: 0.25em;
}

.buttonTextSlide2 i {
    margin-left: 0.5em;
    margin-top: 0.25em;
}

.button-banner:hover {
    transform: translateY(-10px)
}
.button-banner:active {
    transform: translateY(10px);
}


.motionDiv {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    width: 20%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background-color: white;
    background-size: cover;
    background-repeat: repeat;

    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    background: rgb(22, 22, 22, 1);

    overflow-y: auto;

}

.closeNav {
    width: 35px;
    height: 35px;
    color: white;
    margin: 0.5rem 1rem;
    transition: transform .4s ease;
    cursor: pointer;
    margin-bottom: 3rem;
}

.closeNav:hover {
    transform: scale(1.1, 1.1);
}

.sideBar {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
}


.sidebar-item {
    padding: 0.75rem 1rem;
    display: block;
    transition: background-color 0.15s;
    border-bottom: solid 1px #e7e7e7;
}

.sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

/* .sidebar-title-plain {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
} */

.sidebar-title span {
    display: inline-block;
    width: 1.5rem;
}

.sidebar-icon {
    display: inline-block;
    width: 1.5rem;
}

.sidebar-title .toggleBtn {
    cursor: pointer;
    transition: transform 0.3s;
}

.sidebar-item.open > .sidebar-title .toggleBtn {
    transform: rotate(180deg);
}

.sidebar-content {
    padding-top: 0.25rem;
    height: 0;
    overflow: hidden;
}

.sidebar-item.open > .sidebar-content {
    height: auto;
}

.sidebar-item.plain{
    /* color: #fff; */
    text-decoration: none;
}

.sidebar-item.plain:hover{
    /* text-decoration: underline; */
    color: white;
}


/*************************************************************************** */

.marquee-text {
    font-size: 29px;
    font-weight: 600;
    margin: 60px 0px;
    color: #f02d34;
}

.marquee {
    position: relative;
    height: 510px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    width: 180%;
}

.track:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

span.text-red {
    -webkit-text-stroke: 1px #f02d34;
    margin-left: 6px;
}

.cart-icon {
    font-size: 34px;
    color: #393E46;
    cursor: pointer;
    position: relative;
    transition: transform .4s ease;
    border: none;
    background-color: transparent;
}

.cart-icon:hover {
    transform: scale(1.1, 1.1);
}

.cart-item-qty {
    position: absolute;
    right: -5px;
    font-size: 12px;
    color: #eee;
    background-color: #f02d34;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
}

.cart-item-qty-if-0qty {
    display: none;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8rem;
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
}

.product-container a {
    color: #393E46;
}



.product-card {
    cursor: pointer;
    transition: transform 0.5s ease-out;
    color: #393E46;
    padding: 10px;
    /* border-radius: 10px; */
    border-radius: 3.3333%/5.298%;

    /* background: rgba(255, 255, 255, 0.067); */
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5); */
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12);


    /* border-radius: 3.3333%/5.298%;
    box-shadow: 0 2px 3px rgb(0 0 0 / 24%); */
            

}

.product-card:hover {
    /* transform: scale(1.1, 1.1); */
    transform: translateY(-20px);
}

.product-card:active {
    transform: translateY(10px);
    box-shadow: 
    inset -10px -10px 15px rgba(255, 255, 255, 0.5), 
           inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  }

.product-image {
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}


.product-name {
    font-weight: 700;
    text-align: center;
    margin-top: revert;
    font-size: 20px;
}

.product-price {
    font-weight: 800;
    margin-top: 6px;
    color: black;
}

.hero-banner-container {
    position: relative;
    height: 84vh;
    line-height: 0.9;
    width: 100%;
    background-size: cover;
}

.desc {
    position: absolute;
    right: 10%;
    bottom: 5%;
    width: 300px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    color: #324d67;
}

.desc p {
    color: #5f5f5f;
    font-weight: 100;
    text-align: end;
}

.desc h5 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    align-self: flex-end;
}


/* BRAND HEADING */

.products-heading {      
    text-align: center;
    margin: 40px 10px;
    color: #393E46;
    margin-top: 25vh;
}

.products-heading h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 6rem;
}

.products-heading p {
    font-size: 16px;
    font-weight: 200;
}


.header-banner-container {
    background-image: url('../assets/car-header-5.jpg');
    position: relative;
    height: 446px;
    max-height: 80vh;
    /* line-height: 0.9; */
    width: 100%;
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
}

.title-container {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;

}
.banner-title {
    color: white;
    width: 100%;
    display: block;
    font-size: 50px;
    margin-bottom: 0;
    line-height: 6.5rem;
    font-weight: 700;
    width: 100%;
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link-banner {
    /* width: 100%;
    display: block; */
    margin-bottom: 50px;
    font-size: 20px;
    width: 100%;
    margin-top: -14px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    /* padding: 0 0.25rem; */
}

.link-banner a {
    margin-right: 0.5rem;
    font-weight: 600;
}

.link-banner i {
    margin-top: 0.25rem;
    font-weight: 500;
}

.link-banner p {
    margin-left: 0.5rem;
    font-weight: 600;
}

.banner-desc {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem 5rem;
}

.banner-desc .left h2 {
    font-weight: 800;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 3rem;
}

.banner-desc .right-bottom {
    margin-top: 5rem;
}

.banner-desc .right-bottom p {
    font-size: 16px;
    font-weight: 450;
}

.banner-desc .right-bottom i {
    font-size: 30px;
    padding-right: 14px;
}


.banner-desc .right {
    line-height: 1.4;
    display: block;
}


.banner-desc .right-top h2 {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 1rem;
}

.banner-desc .right p {
    font-size: 18px;
}

.banner-desc .right .company-desc {
    font-size: 14px;
    font-weight: 300;
}

.cart-wrapper {
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    /* will-change: transform; */
    transition: all 1s ease-in-out;
}

.cart-container {
    height: 100vh;
    width: 600px;
    background-color: white;
    float: right;
    padding: 40px 10px;
    position: relative;
    box-shadow: rgba(255,255,255,0.25);
}

Footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #222;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 150px;
}

Footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

Footer .container .sec {
    margin-right: 30px;
}

Footer .container .sec.aboutus {
    width: 40%;
}

Footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

Footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f02d34;
}

Footer p {
    color: #999;
}


.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.sci li a:hover {
    transform: translateY(-10px);
    
}

.sci li a i {
    color: #fff;
    font-size: 24px;
}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul li a { 
    list-style: none;
}
.quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: #fff;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0!important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: #fff;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
}

.copyrightText {
    width: 100%;
    background: #222;
    padding: 8px 100px;
    text-align: center;
    color: #999;
    font-size: 18px;
    position: absolute;
}

@media screen and (max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer.container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .quickLinks,
    .contact {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 40px;
    }
}

.cart-heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    gap: 2px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

.cart-heading .heading {
    margin-left: 10px;
}

.cart-num-items {
    margin-left: 10px;
    color: #f02d34;
}

.empty-cart {
    margin: 40px;
    text-align: center;
}

.empty-cart h3 {
    font-weight: 600;
    font-size: 20px;
}

.cancel {
    cursor: pointer;
}

.product-container {
    margin-top: 15px;
    overflow: auto;
    max-height: 59vh;
    padding: 20px 10px;
}

.product {
    display: flex;
    gap: 30px;
    padding: 10px;
    border-top: solid 2px #e7e7e7;
    padding-top: 1rem;
}

.product .cart-product-image {
    width: 160px;
    height: 160px;
    /* border-radius: 15px; */
    background-color: #ebebeb;
}

.item-desc .flex {
    display: flex;
    justify-content: space-between;
    width: 350px;
    color: #393E46;
}

.item-desc .bottom {
    margin-top: 30px;
}

.checkout-title {
    font-weight: 500;
    color: #222529 !important;
    font-size: inherit;
}

.flex h4 {
    font-size: 20px;
    margin-top: 1rem;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.total h3 {
    font-size: 22px;
}

.remove-item {
    /* font-size: 24px;
    color: #f02d34; */
    cursor: pointer;
    color: #393c41;
    font-size: 16px;
    background: transparent;
    border: none;
}

.remove-item:hover {
    text-decoration: underline;
}

.cart-bottom {
    position: absolute;
    bottom: 12px;
    right: 5px;
    width: 96%;
    padding: 30px 35px;
    border-top: solid 2px #e7e7e7;
    background-color: white;
}

.order-summary {
    font-size: 22px;
    margin-bottom: 1rem;
}

.btn-container {
    width: 400px;
    margin: auto;
}

.shippingRate {
    display: flex;
    justify-content: space-between;
    color: #393c41;
    font-size: 16px;
    margin-top: 0.5rem;
}

.btn {
    width: 100%;
    max-width: 400px;
    padding: 10px 12px;
    border-radius: 32px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
    margin-top: 40px;
    text-transform: uppercase;
    background-color: #f02d34;
    color: #fff;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease-out;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);

}

.btn:hover {
    transform: translateY(-10px)
}

.btn:active {
    transform: translateY(10px);
}

.product-detail-container {
    display: flex;
    gap: 40px;
    margin: 40px;
    margin-top: 60px;
    color: #324d67;
}

.product-detail-image {
    /* border-radius: 15px; */
    background-color: #ebebeb;
    /* width: 400px;
    height: 400px; */
    cursor: pointer;
    transition: .3s ease-in-out;
    width : 400px;
    height : 269px;
    
}

.product-detail-image:hover {
    background-color: #f02d34;
}

.small-images-container {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.small-image {
    /* border-radius: 8px; */
    background-color: #ebebeb;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.selected-image {
    background-color: #f02d34;
}

.reviews {
    color: #f02d34;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.product-detail-desc h4 {
    margin-top: 10px;
}

.product-detail-desc h1 {
    color: #393E46;
}

.dash {
    color: #e7e7e7;
    font-weight: 800;
}

.shipping_weight {
    padding: 0.2rem;
    vertical-align: top;
}

table {
    border: none;
    border-bottom: solid 2px #e7e7e7;
    box-shadow: none;
    padding: 10px 0 10px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%
}

th {
    padding: 0.75rem;
    vertical-align: top;
    color: #7b858a;
    text-align: left;
    /* font-size: 18px; */
}

td {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .2px;
    color: #7b858a;
}

.availability {
    color: #393E46;
    font-weight: 600;
}

.product-detail-desc p {
    margin-top: 10px;
}

/* .reviews p {
    color: #324d67;
    margin-top: 0px;
} */

.product-detail-desc .price {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 20px;
    color: #393E46;
    letter-spacing: -0.02em;
}

.price .old-price,
.product-price .old-price,
.price .old-price {
    color: gray;
    text-decoration: line-through;
}

.product-detail-desc .quantity {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
    color: #393E46;
}

.exhaust-description {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 5rem;
}

.exhaust-description h2 {
    text-align: center;
    color: #393E46;
}

.exhaust-description p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 1.9;
    text-align: center;
    color: #7b858a;

}

.product-detail-desc .buttons {
    display: flex;
    gap: 30px;
}

.buttons .add-to-cart {
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #393E46;
    color: white;
    cursor: pointer;
    width: 200px;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.add-to-cart-fast {
    display: inline-block;
    width: 100%!important;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #f02d34;
    cursor: pointer;
    width: 200px;
    transition: transform 0.5s ease;
    border-radius: 32px;
    border: none;
    box-shadow: -10px -10px 15px rgb(255 255 255 / 50%), 10px 10px 15px rgb(70 70 70 / 12%);
}

.main-container-model:hover .add-to-cart-fast, .add-to-cart-fast:hover  {
    display: inline-block;
    width: 100%!important;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #f02d34;
    color: white;
    cursor: pointer;
    width: 200px;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.buttons .add-to-cart:hover {
    transform: translateY(-10px)
}

.buttons .add-to-cart:active {
    transform: translateY(10px);
}

.buttons .buy-now {
    width: 200px;
    padding: 10px 20px;
    background-color: #f02d34;
    color: white;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.buttons .buy-now:hover {
    transform: translateY(-10px)
}

.buttons .buy-now:active {
    transform: translateY(10px);
}

.quantity-desc {
    /* border: 1px solid #e7e7e7; */
    padding: 6px;
}

.quantity-desc span {
    font-size: 16px;
    padding: 6px 12px;
    cursor: pointer;
}

.quantity-desc .minus {
    /* border-right: 1px solid #e7e7e7; */
    color: #393E46;
    font-weight: 600;
}

.quantity-desc .num {
    /* border-right: 1px solid #e7e7e7; */
    font-size: 20px;
    font-weight: 600;
}

.quantity-desc .plus {
    color: #393E46;
    font-weight: 600;
}

.maylike-products-wrapper {
    margin-top: 120px;
    /* height: 100%; */
}

.maylike-products-wrapper h2 {
    text-align: center;
    margin: 50px;
    color: #393E46;
    font-size: 28px;
}

.maylike-products-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.max-qty {
    font-weight: 500;
    color: #f02d34;
}

.success-wrapper,
.cancel-wrapper {
    background-color: white;
    min-height: 60vh;
}

.success,
.cancel {
    width: 1000px;
    margin: auto;
    margin-top: 160px;
    background-color: #dcdcdc;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success .icon {
    color: green;
    font-size: 40px;
}

.success h2 {
    text-transform: capitalize;
    margin-top: 15px 0px;
    font-weight: 900;
    font-size: 40px;
    color: #324d67;
}

.success .email-msg {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.cancel p {
    font-size: 20px;
    font-weight: 600;
}

.success .description {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}

.success .description .email {
    margin-left: 5px;
    color: #f02d34;
}

.product-max-qty {
    margin-top: 10px;
}

.buttonText-des{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

@media screen and (max-width:576px) {
    .navbar-container {
        padding: 0.5em 0.7em;
        height: 60px!important;
    }
    .cart-icon {
        font-size: 29px;
        margin-top: 0.3em;
    }
    .searchIcon {
        font-size: 25px!important;
        margin-top: 0.3em;
    }
    .Shop-btn {
        font-size: 20px;
    } 
    .cart-item-qty {
        right: -2px;
        font-size: 10px;
        width: 13px;
        height: 13px;
    }
    .buttonText, .buttonTextSlide2 {
        top: 6rem!important;
    }
    
    .buttonText h2, .buttonTextSlide2 h2 {
        font-size: 27px;
        margin-bottom: 1em;
        text-align: center;
    }

    .buttonText-des{
        text-align: center;
        display: unset;
    }

    .buttonText p,
    .buttonTextSlide2 p {
        padding: 0;
        font-size: 14px;
        text-align: center;
    } 

    .buttonTextSlide2-banner,
    .button-banner {
        width: fit-content!important;
        padding: 0.25rem 0.75rem;
        font-size: 18px!important;
        margin-top: 2em!important;
        height: 2em!important;
        margin-left: 4em;
    }
    .products-container {
        padding-bottom: 7em;
    }
    /* .models-container {
        padding-bottom: 7em;
    } */

    .hero-banner-container button {
        top: 65%!important;
    }    

    .cart-container {
        width: 100%!important;
    }

    Footer {
        margin-top: 0;
    }
}

@media screen and (max-width:991px) {
    .navbar-container {
        padding: 0em 0.7em;
        height: auto;
    }

    /* .hero-banner-container {
        height: 55vh;
    } */

    .products-heading h2 {
        font-size: 2em;
        font-weight: 800;
        margin-bottom: 0;
        padding: 1em;
    }

    .products-heading {
        margin-top: -125px !important;
    }
    /* .hero-banner-image {
        width: 105%;
        height: 62%;
        top: -2%;
        right: -6%;
    } */
    .motionDiv {
        width: 100%;
    }
    .sideBarText{
        font-size: 18px;
        font-weight: 400;
    }
    .footer-banner-container {
        height: 560px;
        margin-top: 80px;
    }
    .banner-desc .left h3 {
        font-weight: 900;
        font-size: 50px;
        margin-left: 5px;
    }
    .banner-desc .left p {
        margin: 18px;
    }
    
    .banner-desc .right p {
        font-size: 18px;
    }
    .banner-desc .right .company-desc {
        font-size: 14px;
    }
    .banner-desc {
        flex-wrap: wrap;
        gap: 20px;
    }
    .hero-banner-container {
        line-height: 1.3;
    }
    .hero-banner-container h1 {
        font-size: 50px;
    }
    .hero-banner-container h3 {
        font-size: 40px;
    }
    .hero-banner-container button {
        height: 20px;
        width: 20px;
    }
    .next {
        top: 35%!important; 
    }
    .prev {
        top: 35%!important;
    }
    .desc {
        bottom: 60px;
    }
    .product-detail-container {
        flex-wrap: wrap;
    }
    .product-detail-container .product-detail-image {
        width: 350px;
        height: 350px;
    }
    .cart-container {
        /* width: 375px!important; */
        padding: 4px;
    }
    .cart-heading {
        margin-top: 35px;
    }
    .product-container {
        margin-top: 10px;
    }
    .product {
        padding: 20px 5px;
        gap: 20px;
    }
    .product .cart-product-image {
        width: 120px;
        height: 120px;
    }
    .buttons .add-to-cart {
        width: 150px;
    }
    .buttons .buy-now {
        width: 150px;
    }
    .product-detail-container {
        margin: 20px;
    }
    .item-desc .flex {
        width: 200px;
    }
    .top {
        flex-wrap: wrap;
        gap: 10px;
    }
    .flex h5 {
        font-size: 16px;
        color: #324d67;
    }
    .flex h4 {
        font-size: 16px;
        color: black;
    }
    .cart-bottom {
        padding: 30px;
    }
    .total h3 {
        font-size: 20px;
    }
    .track {
        animation: marquee 10s linear infinite;
        width: 550%;
    }
    .success-wrapper,
    .cancel-wrapper {
        min-height: 69vh;
    }
    .success,
    .cancel {
        width: 370px;
        margin-top: 100px;
        padding: 20px;
    }
    .success {
        height: 350px;
    }
    .success h2 {
        font-size: 17px;
    }
    .btn-container {
        width: 300px;
        margin: auto;
    }
    .slide {
        width: unset!important;
        height: 100%!important;
        position: fixed!important;
        opacity: 0;
        transition: opacity ease-in-out 0.4s;
        width: auto;
        transform: translateX(-50%);
        left: 50%;
        height: 100%;
        background-size: cover;
        overflow: hidden;
      }
      
      .buttonText {
        top: 3rem;
        margin-left: 1rem;
        padding: 0.5rem 1rem;
    }

    .buttonTextSlide2 {
        top: 3rem;
        margin-left: 1rem;
        padding: 0.5rem 1rem;
    }

    .buttonText h1 {
        font-size: 15px;
        align-items: center;
        display: flex;
        margin-bottom: 5px;
    }

    .button-banner {
        width: fit-content!important;
        padding: 0.25rem 0.75rem;
        font-size: 10px; 
        margin-top: 3.7em;
    }

    .buttonTextSlide2-banner {
        width: fit-content!important;
        padding: 0.25rem 0.75rem;
        font-size: 10px; 
        margin-top: 3.7em;
    }

    .checkout-title {
        font-size: 14px;
    }

    .item-desc .bottom {
        margin-top: 15px;
    }
}


/* @media screen and (min-width: 800px) and (max-width:1024px) {
    .products-heading {
        margin-top: -35vh !important;
    }
    .slide {
        width: 100%;
        height: unset !important;
        position: absolute;
        opacity: 0;
        transition: opacity ease-in-out 0.4s;
      }
    
    .hero-banner-container button {
        height: 30px;
        width: 30px;
    }
    .next {
        top: 35%!important; 
    }
    .prev {
        top: 35%!important;
    }

    .buttonText {
        top: 8rem;
        width: 40%;
        margin-left: 4rem;
        padding: 1rem 2rem;
    }
    
     .buttonText h1 {
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 10px;
    }
    
    .button-banner {
        display: flex;
        font-size: 18px;
        width: fit-content!important;
        padding: 0.5rem 2rem;
    }

    .products-heading h2 {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 0;
    }
    
} */



/* ...................DROP DOWN MENU********************** */

:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;;
  }


  /*********************** MODEL PAGE ********************************** */

  .main-container-model {
    transition: transform 0.5s ease-out;
    margin-bottom: 2rem;
    /* margin-top: 7rem; */
    padding: 17px;
    overflow-y: visible;

    border-radius: 3.3333%/5.298%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12);
  }

 .models-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    /* margin-top: 20px; */
    width: 100%;
 }

 .models-card {
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    color: #324d67;
    border-style: none;
    border-radius: 3.3333%/5.298%;
 }

 .main-container-model:hover {
    transform: translateY(-20px)
}

.main-container-model:active {
    transform: translateY(10px);
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), 
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);;
}

.num-model {
    font-weight: 400;
    text-align: center;
    margin-top: revert;
}




/**********************SLIDER*******************************************************/

.container-slider {
    max-width: 700px;
    height: 500px;
    margin: 100px auto 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  /* @media screen and (max-width: 700px){
    .container-slider {
      margin: 100px 10px 0;
    }
  } */
  .slide {
    width: 100%;
    height: 120%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;;
  }
  /* .slide img {
    object-fit: cover;
    background-size: cover;
  } */
  .active-anim {
    opacity: 1;
    transition: opacity ease-in-out 0.4s;
  }
  
  .btn-slide {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(34, 34, 34, 0.287);
    /* border: 1px solid rgba(34, 34, 34, 0.287); */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 35px;
    border-color: transparent;
  }

  .btn-slide:hover{
    background: #f1f1f1;
    cursor: pointer;
    color: black;
    border-color: transparent;
  }
  
  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }

  .exhaust-card-bottom-detail {
    display: block;
    text-align: center;
    word-wrap: break-word
  }


  .exhaust-name {
    font-size: 17px;
    margin-top: 1rem;
    
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -.01em;
    margin-bottom: 0.45rem;

    white-space: break-spaces !important;
    color: #393E46;
    width: 250px;
  }

  .exhaust-price {
     color: #222831;
     font-size: 1.125rem;
     font-weight: 600;
  }
  

  .empty-div-banner {
    background-image: url('../assets/car-header-5.jpg');
    position: relative;
    height: 446px;
    max-height: 80vh;
    width: 100%;
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .searchBar-container:hover {
    display: flex;
    flex-direction: column;
    width: 25em;
    height: 2.9em;
    background-color: #fff;
    border-radius: 32px;
    overflow: hidden;
    color: #bebebe;
    box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
    border-color: rgba(223,225,229,0);;
  }

  .searchBar-container:hover .searchIcon {
    color: #bebebe;
  }

  .searchBar-container {
    width: 57px;
    background-color: transparent;
    color: #fff;
    transition: 0.5s;
    /* order: 4; */
  }

  .searchInput-container {
    width: 100%;
    min-height: 2.8em;
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px 15px;
  }

  .searchInput {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    /* font-size: 21px; */
    color: #222831;
    font-weight: 400;
    border-radius: 6px;
    background-color: transparent;
    font-size: 1.3em;
    }

    input:focus {
        outline: none;
    }

    input:focus::placeholder {
        opacity: 0;
    }
    
    input::placeholder {
        color: #bebebe;
        transition: all 250ms ease-in-out;
    }

    .searchIcon {
        color: #393E46;
        font-size: 30px;
        margin-right: 10px;
        /* margin-top: 3px; */
        vertical-align: middle
    }
    .searchBar-container:hover .closeIcon {
        color: #bebebe;
        font-size: 23px;
        vertical-align: middle;
        transition: all 200ms ease-in-out;
        cursor: pointer;
        display: flex ;
    }

    .closeIcon {
        display: none;
    }

    .searchBar-container:hover .closeIcon:hover {
        color: #dfdfdf; 
    }

    .leftPage-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-Content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em;
        overflow-y: auto;
    }

    .LineSeperator {
        display: none;
    }

    .searchBar-container:hover
     .LineSeperator {
        display: flex;
        min-width: 100%;
        min-height: 2px;
        background-color: #d8d8d878;
        margin-top: 0.75rem;
    }

    .searchBar-container:hover .loadingWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loadingWrapper {
        display: none;
    }

    .SearchDetail-container {
        display: none;
    }

    .searchBar-container:hover .SearchDetail-container:hover {
        background-color: #d8d8d852; 
        border-radius: 5px;
    }

    .searchBar-container:hover .SearchDetail-container {
        width: 100%;
        height: 6rem;
        display: flex;
        border-bottom: 1px solid #d8d8d852;
        padding: 6px 8px;
        align-items: center;
        cursor: pointer;
    }

    .searchBar-container:hover .thumbNail {
        width: auto;
        height: 100%;
        display: flex;
        flex: 0.4;
    }

    .searchBar-container:hover .thumbNail img {
        width:  6rem;
        height: 100%;
    }

    .searchBar-container:hover .name-search {
        font-size: 13px;
        color: #000;
        margin-left: 10px;
        flex: 2;
        display: flex;
    }

    .searchBar-container:hover .price-search {
        color: #a1a1a1;
        font-size: 14px;
        display: flex;
        flex: 0.2;
    }

    .searchBar-container:hover .warningMessage {
        color: #a1a1a1;
        font-size: 14px;
        display: flex;
        align-self: center;
        justify-self: center;
    }